# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
#

'atom-text-editor':
  'ctrl-h': 'core:backspace'
  'ctrl-z': 'atomic-emacs:scroll-down'
  'ctrl-x ctrl-g': 'core:cancel'  # to avoid delete one line
#
  'f4': 'atom-gtags:get-definitions'
  'shift-f4': 'atom-gtags:nav-back'
  'f5': 'atom-gtags:get-references'

'body':
  'ctrl-n': 'unset!'

### Incremental Search ###
#'.platform-darwin .workspace .editor:not(.mini)':
#  'ctrl-s': 'incremental-search:forward'
#  'ctrl-r': 'incremental-search:backward'
#
#'.platform-darwin .workspace .isearch .editor':
#  'ctrl-s': 'incremental-search:forward'
#  'ctrl-r': 'incremental-search:backward'
#  'ctrl-w' : 'incremental-search:slurp'

### Find And Replace ###
'atom-workspace atom-text-editor':
  'ctrl-m': 'unset!'

'.platform-win32, .platform-linux':
  'ctrl-F': 'project-find:toggle'

'.find-and-replace, .results-view':
  'ctrl-m': 'find-and-replace:toggle'

#'.project-find, .results-view':
#  'ctrl-m': 'project-find:toggle'
